.container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}



.card2{
  padding: 1rem;
  background: #07304233;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
